<p id="notice"><%= notice %></p>

<p>
  <strong>View count:</strong>
  <%= @metric.view_count %>
</p>

<p>
  <strong>Share count:</strong>
  <%= @metric.share_count %>
</p>

<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
